/* 검색창의 큰 틀 */
.find {
    height: 53%;
    width: 20%;
    border: 1px solid orange;
    background: white;
    position: relative;
    left: 40%;  
    bottom: -26%;
}
/* 검색어 입력하는 틀 */
.find2 {
    font-size: 16px;
    width: 70%;
    padding: 2%;
    border: 0px;
    outline: none;
    float: left;
    position: relative;
    bottom: 220%;  
    font-family: 'Jua', sans-serif;
}
/* 검색 누르는 틀 */
.find3 {
    width: 15%;
    height: 100%;
    border: 0px;
    background: orange;
    outline: none;
    float: right;
    color: white;
    position: relative;
    left: 0%;
    bottom:222%;  
    font-family: 'Jua', sans-serif;
}
/* 검색 누르는 틀의 글씨 */
.find3 a {
    color:white;
}
/* 보러왕 로고 */
.logo {
    max-width: 4%;
    max-height: 2%;
    float: left;
    margin-top: 0.9%;
    margin-right: 1.5%;
}

li {
    list-style: none;
    font-family: 'Sunflower', sans-serif;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 1500px;
    margin: 0 auto;
} 

.clearfix {
    content: '';
    display: block;
    clear: both;
}

header {
    height: 75px;
    background-color: white;
    border: 1px solid #253342;
    /* 도시 선택 페이지 메뉴에 밑부분 그림자 주는거 */
    box-shadow:3px 0px 10px #000;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
}

h1 {
    color: orange;
    line-height: 75px;
    float: left;
    line-height: 75px;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 50px;
}

.menu22 {
    float: right;
}

.menu22 li {
    float: left;
}

.menu22 a {
    color: white;
    padding: 0 15px;
    display: block;
    text-decoration: none;
    line-height: 75px;
    color: orange;
    /* 글씨 굵기 정하는 속성 */
    font-weight: bolder;
}
.btn {
    padding: 7% 5% 2% 5%;
    margin:0%;
    width: 100%;
    background-color: orange;
  }


.bt {
  background: none;
  border: 2px solid white;
  border-radius: 20px;
  color: white;
  display: block;
  font-size: 20px;
  font-weight: normal;
  padding: 5px 0em;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  margin: 0.6%;
  width: 7%;
  font-family: 'Jua', sans-serif;
}

.bt::before,
.bt::after {
  background: white;
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: 20px;
}

  .foot2 {
    text-align: center;
    padding-bottom: 1%;
    padding-top: 2%;
    color: white;
    font-family: 'Jua', sans-serif;
    font-size: 90%;
  }
  
  .foot2 a {
      color: white;
  }

  .btn a {
      color: white;
  }
.index{ 
    width : 100%; height : 100%; 
    padding-top: 0px;
}
.index>.container{
    min-width : 1500px;
}
.index .sidemenu{
    width : 100%;
    height : 100%;
}

.index .sidemenu .banner .banner-wrapper{
    width : 100%;
    height : 400px;
}
.index .sidemenu .banner .banner-wrapper .swiper-container{
    height : 90%;
}

.index .sidemenu .banner .banner-wrapper .banner-pagination{
    height : 10%;
}
.index .sidemenu .banner .banner-wrapper .banner-pagination .row{
    height : 100%;
}

.index .sidemenu .banner .banner-wrapper .banner-pagination .banner-pagination-bullets span{
    margin-right : 5px;
}

.index .sidemenu .focus-event-tabs .content .event-holder{
    height : 100px;
}
.index .sidemenu .focus-event-tabs .content .event-holder .event-image{
    height : 100%;
}
.index .main{
    width : 100%;
    height : 100%;
}

.index .main .main-banner{
    width: 100%;
    height : 400px;
}

.index .main .main-content .main-content-holder{
    height : 100px;
}
.index .main .main-content .main-content-holder .main-content-item{
    width : 100%;
    height : 100%;
    margin-left: 23px;
}

.dev header nav {
    background-color: orange;
}

.dev header nav p{
    font-size : 2em;
    color : white;
    text-align: center;

}

.dev .index{
    background-color : #eee;
}

.dev .index .sidemenu {
    background-color: orange;
}

.dev .index .sidemenu .focus-event-tabs .content .event-holder .event-image{
    background-color : red;
    height : 100%;
    color : white;
}

.dev .index .main .main-banner{
    background-color : violet;
}

.dev .main{
    background-color : white;
}

.index .main .main-content .main-content-holder .main-content-item{
    background-color : none;

    width : 100%;
    height : 100%;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: black;
    background-color: orange;
    border-color: #fff #fff #fff;
    border: 1px solid white;
    font-family: 'Jua', sans-serif;
}

.menu a {
    text-decoration: none!important;
    color: black!important;
}

.focus-event-tabs a {
    text-decoration: none!important;
    color: black!important;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    font-family: 'Jua', sans-serif;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
    background-color: white;
}

.container a:visited {
    color: black;
}

.index .sidemenu .banner .banner-wrapper .banner-pagination .row {
    height: 100%;
    background-color: #eee;
}

.row .align-items-center span {
    font-family: 'Jua', sans-serif;
}
.brw3gif {
    width: 100%;
    height: 100%;
    background-image: url('../img/brw5.gif');
    margin-top: 4%;
}

.foot2 {
    padding-left: 41%;
    margin-top: 11.5%;
    color: white;
    font-family: 'Jua', sans-serif;
    font-size: 13px;
    position: absolute;
    padding-bottom: -0%;
  }
  
.foot2 a {
      color: white;
  }

  .pb-5, .py-5 {
    padding-bottom: 3rem !important;
    padding-top: 3rem !important;
}

